---
layout: default.liquid
title: Archive
permalink: /archive.html
---
<div class="archive-header">
  <h2>Archives</h2>
  <!-- <span class="icon toggle-search">
    <svg fill-rule="evenodd" viewBox="0 0 451.57 451.57">
      <path
        d="m420.15 450.18 30.921-28.451 0.97227-15.967-140.35-151.68c17.93-36.792 22.478-66.304 23.337-93.513-4.7553-91.386-73.529-158.95-164.73-160.82-98.399-7.103-172.96 69.05-169.5 168.57 0.93306 45.495 47.748 142.61 169.66 154.58 44.463-3.274 51.668-7.169 88.464-22.022l145.41 149.81zm-368.77-282.62c4.1134 60.716 78.703 105.72 118.81 105.65 79.813-0.14093 115.91-62.009 111.29-111.83-4.4748-104.9-101.56-112.52-110.61-113.8-53.184-7.5269-126.28 37.937-119.49 119.99z" />
    </svg>
   Search
  </span> -->
</div>

<!-- <div class="search">
  <div class="wrapper">
      <span class="icon toggle-search">
        <svg fill-rule="evenodd" viewBox="0 0 451.57 451.57" xmlns="http://www.w3.org/2000/svg">
          <path d="m0.97331 451.52h451.57v-451.53h-451.57v451.53zm156.06-111.42 69.721-69.721 69.721 69.721 44.605-44.606-69.721-69.721 69.721-69.721-44.605-44.605-69.721 69.721-69.721-69.721-44.605 44.605 69.721 69.721-69.721 69.721 44.605 44.606z"/>
        </svg>
      </span>
      <input type="text" class="search-input" id="search-input" placeholder="Search...">
      <ul id="results-container"></ul>
  </div>
</div> -->

<ul class="archive-lists">
  {% for post in collections.posts.pages %}
    {% if post.categories contains 'blog' %}
      {% unless post.next %}
      <div class="by-year">
        <h3>{{ post.published_date | date: '%Y' }}</h3>
      {% else %}
        {% capture year %}{{ post.published_date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.published_date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
      </div>
        <div class="by-year">
            <h3>{{ post.published_date | date: '%Y' }}</h3>
        {% endif %}
      {% endunless %}
      <li>
        <span class="date">{{ post.published_date | date:"%b" }}</span>
        <a href="{{ post.permalink | prepend: '/' | prepend: site.base_url }}">{{ post.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<span class="last-update">Site last generated: {{ site.data.last_gen_time | date: "%b %-d, %Y"  }}</span>
