---
layout: default.liquid
title: Home
permalink: /
---

<div class="home">
  <h1 class="page-heading">Latest</h1>
  <ul class="post-list">
    {% assign num_posts = 1 %}
    {% for post in collections.posts.pages %}
    {% if post.categories contains "blog" and num_posts < 8 %}
    {% assign num_posts = num_posts | plus: 1 %}
    <li>
      <h2>
        <a class="post-link" href="/{{ post.permalink }}">{{ post.title }}</a>
      </h2>
      <p class="post-meta">
        <time datetime="{{ post.published_date }}" itemprop="datePublished">
           {{ post.published_date | date: "%b %-d, %Y" }}
        </time>
         | <span class="time">
             {{ post.content | strip_html | split:" " | size | divided_by:180 | at_least: 1 }}
           </span>
            Minute Read
     </p>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <a id="visit-archive" href="/archive.html">View Full Archives</a>
  <hr class="separator">

  <h1 class="page-heading">Travel</h1>
  <ul class="post-list">
    {% for post in collections.posts.pages %}
      {% if post.categories contains 'travel' %}
      <li>
        <h2>
          <a class="post-link" href="/{{ post.permalink }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">
          <time datetime="{{ post.published_date }}" itemprop="datePublished">
             {{ post.published_date | date: "%b %-d, %Y" }}
          </time>
           | <span class="time">
               {{ post.content | strip_html | split:" " | size | divided_by:220 | at_least: 1 }}
             </span>
              Minute Read
       </p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% include "subscribe.liquid" %}
</div>
