---
layout: default.liquid
title: Projects
permalink: /projects.html
---

<h2>Projects</h2>
<p>This is a curated list of projects that I have worked on over the years.</p>

<ul class="post-list" style="margin-top: 20px">
  {% for post in collections.posts.pages %}
    {% if post.categories contains "project" %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.data.github_url }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.published_date | date: "%b %-d, %Y" }}</span>
          <p></p>
          {{ post.content }}
      </li>
    {% endif %}
  {% endfor %}
</ul>