<footer class="site-footer">
  <div class="wrapper">

  	<a class="footer-icon" href="https://github.com/deep110"><span class="icon">{% include svg/icon-github.svg %}</span></a>

    <a class="footer-icon" href="https://www.linkedin.com/in/deepankar-agrawal-318aab96/"><span class="icon">{% include svg/icon-linkedin.svg %}</span></a>

    <a class="footer-icon" href="https://stackoverflow.com/users/5209012/deepankar"><span class="icon">{% include svg/icon-stackoverflow.svg %}</span></a>

    <a class="footer-icon" href="mailto:deepankar11093@gmail.com"><span class="icon">{% include svg/icon-mail.svg %}</span></a>
  
  </div>
</footer>
