<form id="subscribe-form" action="https://tinyletter.com/deep110" method="post" target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/deep110', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <label for="tlemail">
        <h2>Get new blogs sent to you</h2>
    </label>
    <span id="tl-email-describe">
        Subscribe to my blog on programming, computer graphics, and few other topics. Published once a month.
    </span>
    <div style="margin-top: 8px;">
        <input type="text" name="email" placeholder="Your email address" id="tlemail" />
        <input type="hidden" value="1" name="embed" />
        <button type="submit" name="subscribe" id="btn-subscribe">Subscribe</button>
    </div>
</form>
