.archive-header {
    width: 100%;
    overflow: hidden;
    h2 {
        float: left;
    }
    .icon {
        float: right;
        padding: 5px 10px;
        border: 1px solid #ddd;
        svg {
            width: 20px;
            height: 17px;
        }
    }

}
.archive-lists {
    list-style: none;
    margin: 0;
    h3 {
        margin: 0;
        float: left;
    }
    .by-year {
        padding: 9px 0;
        li {
            padding: 2px 0 5px 50px;
            .date {
                padding: 0 5px;
            }
        }
    }
}

span.last-update {
    font-size: 12px;
    padding-top: 30px;
    float: right;
}
