.carousel {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    padding-bottom: 6px;
    background: var(--color-theme-light);
    overflow: hidden;
}

.carousel-portrait {
    width: 500px;
}

.carousel:hover > .carousel-nav {
    display: block;
}

.carousel-list {
    display: grid;
    align-items: center;
    height: 100%;
    grid: auto / auto-flow max-content;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    grid-gap: 0;
    list-style: none;
    margin: 0;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1) 0s;
    text-align: center;
}

.carousel-list>* {
    scroll-snap-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-list li img {
    width: 100%;
}

.carousel-indicators {
    position: inherit;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    list-style: none;
    z-index: 1;
}

.carousel-indicators>* {
    display: inline-block;
    cursor: pointer;
    background-color: #ccc;
    opacity: 0.7;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;

    .active {
        transform: scale(1.4);
        background: var(--color-text);
    }

    :hover {
        opacity: 0.9;
        background-color: var(--color-btn-hover);
    }
}

.carousel-nav {
    display: none;
    position: absolute;
    top: 50%;
    bottom: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.8;
    width: 3em;
    height: 3em;
    transform: translateY(-75%);
    z-index: 1;
    background: #ccc url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' width='22' height='22' focusable='false'><path d='m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z'></path></svg>") no-repeat center;
}

.carousel-nav.carousel-nav-prev {
    left: 1em;
    transform: scaleX(-1) translateY(-75%);
}

.carousel-nav.carousel-nav-next {
    right: 1em;
    left: unset;
}


@media (max-width: $on-palm) {
    .carousel-portrait {
        width: 100%;
    }

    .carousel:hover > .carousel-nav {
        display: none;
    }

    .carousel, .img-w-full {
        margin-left: -$spacing-unit / 2;
        width: calc(100% + #{$spacing-unit});
        max-width: calc(100% + #{$spacing-unit});
    }
}
