.site-header {
    min-height: 56px;
    background-color: var(--color-theme-light);

    #menu-icon {
        display: none;

        @include media-query($on-palm) {
            display: block;
            float: left;
            width: 36px;
            height: 26px;
            position: relative;
            top: 9px;
            margin-right: 10px;
            padding-top: 10px;
            text-align: center;

            >svg {
                width: 18px;
                height: 15px;

                path {
                    fill: var(--color-theme);
                }
            }
        }
    }

    #dark-theme-icon {
        float: right;
        line-height: 56px;
        margin-left: 20px;

        >svg {
            width: 18px;
            height: 18px;
            vertical-align: middle;

            path {
                fill: var(--color-theme);
            }
        }
    }
}

.exp #menu-icon::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:hover,
    &:visited {
        color: var(--color-theme);
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .page-link {
        color: var(--color-theme);
        line-height: $base-line-height;
        font-weight: 700;
        text-decoration: none;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        width: 200px;
        height: 100%;
        top: 0;
        left: -200px;
        z-index: 2;
        background-color: var(--color-theme-light);

        .trigger {
            clear: both;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 15px 25px;
            border-bottom: 1px solid $border-color;

            &:not(:last-child) {
                margin-right: 0;
            }

            &:hover {
                background-color: var(--color-hover);
            }
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    flex-shrink: 0;
    padding: $spacing-unit*0.8 0;
    background-color: var(--color-theme-light);
    text-align: center;
}

.footer-icon {
    text-decoration: none !important;

    >svg {
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: middle;
        padding: 4px;

        path {
            fill: var(--color-theme);
        }
    }
}

.page-content {
    padding: $spacing-unit*1.2 0;
    flex: 1 0 auto;
    word-break: break-word;
}

.wrapper {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin: 0 auto;
    padding: 0 $spacing-unit;

    @include media-query($on-palm) {
        padding: 0 $spacing-unit / 2;
    }
}

/**
* Home
*/

.page-heading {
    font-size: 38px;
    font-weight: bold;
}

.post-list {
    margin-left: 0;
    list-style: none;

    >li {
        margin-bottom: $spacing-unit * 0.5;
    }

    h2 {
        margin: 0;
    }
}

.post-link {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-theme);
    text-decoration: none;

    &:visited {
        color: var(--color-theme);
    }
}

.post-meta {
    font-size: $small-font-size;
    color: var(--color-text-light);
}

.post-description {
    color: var(--color-btn-hover);
}

.separator {
    margin: 40px 0 20px 0;
    background-color: var(--color-theme-light);
}

#visit-archive {
    padding: 10px;
    display: block;
    width: fit-content;
    background-color: var(--color-theme);
    color: var(--color-background);
    margin-top: 20px;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
        background-color: var(--color-btn-hover);
        text-decoration: none;
    }
}

/**
 * Posts
 */
.post {
    padding: 30px 0;
}

.post-header {
    margin-bottom: $spacing-unit + 10;
    text-align: center;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    text-align: justify;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.footnote-definition {
    display: flex;

    sup {
        font-size: unset;
        margin-right: 4px;
    }

    sup::after {
        content: ".";
    }

    p {
        margin-bottom: 0px;
    }
}

.post-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    a {
        padding: 5px 10px;
        color: var(--color-theme);
        border: 1px solid var(--color-theme);
        text-decoration: none;
    }
}

#subscribe-form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;
    padding:24px;
    background-color: var(--color-theme-light);

    h2 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    #tlemail {
        width: 50%;
        padding: 8px;
        border: 3px solid var(--color-text);
    }

    #btn-subscribe {
        padding: 12px;
        margin-left: 8px;
    }
}

/**
 * 404 Page
 */
.not-found {
    text-align: center;

    h1 {
        font-size: 5em;
    }

    p {
        font-size: 0.3em;
        margin-bottom: 3em;
    }

    a {
        background: var(--color-theme);
        padding: 12px;
        border-radius: 3px;
        text-decoration: none;
        color: var(--color-theme-light);
        font-size: 0.3em;

        &+a {
            margin-left: 10px;
        }
    }
}

/**
 * Archive Page
 */
.archive-header {
    width: 100%;
    overflow: hidden;

    h2 {
        float: left;
    }
}

.archive-lists {
    list-style: none;
    margin: 0;

    h3 {
        margin: 0;
        float: left;
    }

    .by-year {
        padding: 9px 0;

        li {
            padding: 2px 0 5px 50px;

            .date {
                padding: 0 5px;
            }
        }
    }
}

span.last-update {
    font-size: 12px;
    padding-top: 30px;
    float: right;
}

/**
 * Comments bar
 */
.utterances {
    margin-top: $spacing-unit*3;
}
