/**
 * Site header
 */
.site-header {
    min-height: 56px;
    background-color: var(--color-theme-light);

    #menu-icon {
        display: none;
        @include media-query($on-palm) {
            display: block;
            float: left;
            width: 36px;
            height: 26px;
            position: relative;
            top: 9px;
            margin-right: 10px;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: var(--color-theme);
                }
            }
        }
    }

    #dark-theme-icon {
        float: right;
        line-height: 56px;
        margin-left: 20px;

        > svg {
            width: 18px;
            height: 18px;
            vertical-align: middle;

            path {
                fill: var(--color-theme);
            }
        }
    }
}

.exp #menu-icon::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:hover,
    &:visited {
        color: var(--color-theme);
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .page-link {
        color: var(--color-theme);
        line-height: $base-line-height;
        font-weight: 700;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        width: 200px;
        height: 100%;
        top: 0;
        left: -200px;
        z-index: 2;
        background-color: var(--color-theme-light);

        .trigger {
            clear: both;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 15px 25px;
            border-bottom: 1px solid $border-color;

            &:not(:last-child) {
                margin-right: 0;
            }
            &:hover{
                background-color: var(--color-hover);
            }
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    flex-shrink: 0;
    padding: $spacing-unit*0.8 0;
    background-color: var(--color-theme-light);
    text-align: center;
}

.footer-icon {
    text-decoration: none !important;

    > svg {
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: middle;
        padding: 4px;

        path {
            fill: var(--color-theme);
        }
    }
}


/**
* Page content
*/
.page-content {
    padding: $spacing-unit*1.4 0;
    flex: 1 0 auto;
}

.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
    h2{
      margin: 0;
    }
    .description{
      padding: 12px 0;
      text-align: justify;
    }
}

.post-link {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-theme);

    &:visited {
        color: var(--color-theme);
    }
}

.post-meta {
    font-size: $small-font-size;
    color: var(--color-text-light);
}


/**
 * Posts
 */
.post {
    padding: 40px 0;
}
.post-header {
    margin-bottom: $spacing-unit + 10;
    text-align: center;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    text-align: justify;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.footnote-definition {
    display: flex;

    sup {
        font-size: unset;
        margin-right: 4px;
    }
    sup::after {
        content: ".";
    }

    p {
        margin-bottom: 0px;
    }
}

.pagination, .post-navigation {
  a{
    padding: 5px 10px;
    color: var(--color-theme);
    border: 1px solid var(--color-theme);
  }
    .prev{
        float: right;
    }
    .next{
        float: left;
    }
}

.not-found {
  text-align: center;

  h1{
    font-size: 5em;
  }

  p{
    font-size: 0.3em;
    margin-bottom: 3em;
  }

  a{
    background: var(--color-theme);
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    color: var(--color-theme-light);
    font-size: 0.3em;

    &+a{
      margin-left: 10px;
    }
  }
}

.archive-header {
    width: 100%;
    overflow: hidden;
    h2 {
        float: left;
    }
}
.archive-lists {
    list-style: none;
    margin: 0;
    h3 {
        margin: 0;
        float: left;
    }
    .by-year {
        padding: 9px 0;
        li {
            padding: 2px 0 5px 50px;
            .date {
                padding: 0 5px;
            }
        }
    }
}

span.last-update {
    font-size: 12px;
    padding-top: 30px;
    float: right;
}

.utterances {
    margin-top: $spacing-unit*3;
}
