.loader {
    width: 80px;
    height: 80px;
    padding: 10px;
    background: #e9e9e9;
    border-radius: 50%;
    --_m:
        conic-gradient(#0000, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    box-sizing: border-box;
    animation: load 1s linear infinite;
}

@keyframes load {
    to {
        transform: rotate(1turn)
    }
}
