/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  height: 100%;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 600px) {
    body.exp {
      left: 200px;
      position: relative;
      overflow-x: hidden; } }
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 14px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eff1f5; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Tables
 */
table {
  margin-bottom: 1rem;
  border: 1px solid #e5e5e5;
  border-collapse: collapse; }
  table td,
  table th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5; }
  table tbody tr:nth-child(odd) td, table tbody tr:nth-child(odd) th {
    background-color: #f9f9f9; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }
/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  padding: 5px; }
  .icon > svg path {
    fill: #31353d; }

/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  background-color: #515865; }
  .site-header #menu-icon {
    display: none; }
    @media screen and (max-width: 600px) {
      .site-header #menu-icon {
        display: block;
        float: left;
        width: 36px;
        height: 26px;
        position: relative;
        top: 9px;
        margin-right: 10px;
        padding-top: 10px;
        text-align: center; }
        .site-header #menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-header #menu-icon > svg path {
            fill: #fff; } }
.exp #menu-icon::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0; }
  .site-title, .site-title:visited {
    color: #fdfdfd; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .page-link {
    color: #fdfdfd;
    line-height: 1.5;
    font-weight: 700; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
    @media screen and (max-width: 600px) {
      .site-nav .page-link {
        color: #111; } }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      width: 200px;
      height: 100%;
      top: 0;
      left: -200px;
      z-index: 7;
      background-color: #515865; }
      .site-nav .trigger {
        clear: both; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 15px 25px;
        color: #fff;
        border-bottom: 2px solid #5D6471; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; }
        .site-nav .page-link:hover {
          background-color: #5D6471; } }
/**
 * Site footer
 */
.site-footer {
  flex-shrink: 0;
  border-top: 1px solid #e8e8e8;
  padding: 24px 0;
  background-color: #eee;
  text-align: center; }

.footer-icon {
  text-decoration: none !important; }

/**
 * Page content
 */
.page-content {
  padding: 42px 0;
  flex: 1 0 auto; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }
  .post-list h2 {
    margin: 0; }
  .post-list .description {
    padding: 12px 0; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  font-size: 24px; }

/**
 * Posts
 */
.post {
  padding: 40px 0; }

.post-header {
  margin-bottom: 40px;
  text-align: center; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }
.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }
.pagination a, .post-navigation a {
  padding: 5px 10px;
  border: 1px solid #ddd; }

.pagination .prev, .post-navigation .prev {
  float: right; }

.pagination .next, .post-navigation .next {
  float: left; }

.banner-wrapper {
  background: #f3f3f3;
  padding: 16px;
  text-align: center; }
  @media screen and (max-width: 800px) {
    .banner-wrapper {
      display: none; } }
.not-found {
  text-align: center; }
  .not-found h1 {
    font-size: 5em; }
  .not-found p {
    font-size: 0.3em;
    margin-bottom: 3em; }
  .not-found a {
    background: #515865;
    padding: 7px 12px;
    border-radius: 3px;
    border: 1px solid #eee;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 0.3em; }
    .not-found a + a {
      margin-left: 10px; }

.utterances {
  margin-top: 90px; }

.archive-header {
  width: 100%;
  overflow: hidden; }
  .archive-header h2 {
    float: left; }
  .archive-header .icon {
    float: right;
    padding: 5px 10px;
    border: 1px solid #ddd; }
    .archive-header .icon svg {
      width: 20px;
      height: 17px; }

.archive-lists {
  list-style: none;
  margin: 0; }
  .archive-lists h3 {
    margin: 0;
    float: left; }
  .archive-lists .by-year {
    padding: 9px 0; }
    .archive-lists .by-year li {
      padding: 2px 0 5px 50px; }
      .archive-lists .by-year li .date {
        padding: 0 5px; }

span.last-update {
  font-size: 12px;
  padding-top: 30px;
  float: right; }
