@charset "utf-8";


// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// common colors
$link-color:   #1a7bbb;
$border-color: #e3e3e3;

// colors
$white-color:#fdfdfd;
$brown-color: #4a4a4a;
$brown-color-d5: darken($brown-color, 5%);
$brown-color-d10: darken($brown-color, 10%);
$brown-color-l15: lighten($brown-color, 15%);
$brown-color-l25: lighten($brown-color, 25%);
$brown-color-l55: lighten($brown-color, 55%);
$brown-color-l65: lighten($brown-color, 65%);

$white-color-d10: darken($white-color, 10%);
$white-color-d20: darken($white-color, 20%);
$white-color-d30: darken($white-color, 30%);

html {
    --color-theme: #{$brown-color};
    --color-theme-light: #{$brown-color-l65};
    --color-background: #{$white-color};
    --color-text: #{$brown-color-d10};
    --color-text-light: #{$brown-color-l25};
    --color-hover: #{$brown-color-l55};
    --color-btn-hover: #{$brown-color-l15};
}

html[theme="dark"] {
    --color-theme: #{$white-color-d20};
    --color-theme-light: #{$brown-color-d5};
    --color-background: #{$brown-color-d10};
    --color-text: #{$white-color-d10};
    --color-text-light: #{$white-color-d30};
    --color-hover: #{$brown-color};
    --color-btn-hover: #{$brown-color-l25};

    code {
        background-color: #{$brown-color};
        border-color: #707070;
    }

    pre {
        color: #383a42;
        background-color:#fafafa;
        filter: invert(1) hue-rotate(180deg);

        > code {
            background-color: transparent;
        }
    }
}

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",

        // components
        "slider",
        "carousel",
        "loading",
        "video",
        "snackbar"
;
