---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
       <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
       </time>
       {% if page.author %} |
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span>
          </span>
       {% endif %}
        | <span class="time">
            {{ page.content | number_of_words | divided_by:180 }}
          </span>
           Minute Read
    </p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <footer class="post-footer">
  
    <!-- Post Navigation -->
    {% for post in site.categories.articles %}
        {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
        {% endif %}
    {% endfor %}
    {% for post in site.categories.articles %}
        {% if post_index0 == forloop.index %}
            {% assign next_post = post.url %}
        {% endif %}
        {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post.url %}
        {% endif %}
    {% endfor %}

    <div class="post-navigation">
      {% if prev_post %}
        <a class="next" href="{{ prev_post | prepend: site.baseurl }}">←&nbsp;Prev Post</a>
      {% endif %}
      {% if next_post %}
        <a class="prev" href="{{ next_post | prepend: site.baseurl }}">Next Post&nbsp;→</a>
      {% endif %}
    </div>
      {% include comment.html %}
  </footer>
</article>
